.reproduction{
  margin-top: 4.31rem;
  margin-bottom: 4.37rem;
}
.title {
  h3 {
    color: #2C2D35;
    font-size: 2.5rem;
    font-family: Raleway;
    font-weight: 500;
    line-height: 110%;
  }
}

.item {
  background-color: #fff;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.87rem;

  .title {
    h3 {
      display: flex;
      align-items: center;
    }
  }

  .tabs {
    .tabBtn {
      border-radius: 20px;
      background: #D4E8D9;
      color: #2C2D35;
      font-size: 1.25rem;
      font-family: Raleway;
      font-weight: 500;
      border: 1px solid #D4E8D9;
      padding: 0.625rem 1.25rem;
      cursor: pointer;
      transition: all .3s ease;
      margin-left: 2rem;

      &:hover {
        border-radius: 20px;
        background: #598D66;
        color: #F4F6F5;
      }
    }
  }
}

.item {
  max-width: 21.875rem;
  background-color: #E1EDE6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
}

.img {
  margin-bottom: 1.25rem;

  img {
    max-width: 19.375rem;

  }
}

.author {
  color: #86928B;
  font-size: 1.125rem;
  font-family: Raleway;
  font-weight: 500;
  margin-bottom: 0.63rem;
}

.name {
  color: #2C2D35;
  font-size: 1.875rem;
  font-family: Raleway;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.method {
  color: #2C2D35;
  font-size: 1.125rem;
  font-family: Raleway;
  font-weight: 500;
  margin-bottom: 1.87rem;
}

.price {
  color: #598D66;
  font-size: 1.5rem;
  font-family: Raleway;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.basketBtn {
  width: 19.375rem;
  border: 1px solid #598D66;
  color: #598D66;
  font-size: 1.25rem;
  font-family: Raleway;
  font-weight: 500;
  background-color: transparent;
  padding: 1.25rem 3.75rem;
  cursor: pointer;
  transition: all .3s ease;
  &:hover{
    background: #598D66;
    color: #F4F6F5;
  }
}

.innerItem {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}